/*----------- Hamburger -------------*/
.c-hamburger-wrap{
	display: inline-block;
	padding: 15px;
	cursor: pointer;
}

.c-hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 14px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	transition: background 0.3s;
	z-index: 25;
}

.c-hamburger:focus {
	outline: none;
}

.c-hamburger span {
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0px;
	height: 2px;
	background: #999;
	margin: 0 auto;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #999;
	content: "";
}

.c-hamburger span::before {
	top: -5px;
}

.c-hamburger span::after {
	bottom: -5px;
}

.c-hamburgerspan {
	transition: background 0s 0.3s;
}

.c-hamburger span::before,
.c-hamburger span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.c-hamburger span::before {
	transition-property: top, transform;
}

.c-hamburger span::after {
	transition-property: bottom, transform;
}

.c-hamburger-wrap.active{
	background: #fcb40a;
}

.c-hamburger-wrap.active span {
	background: none;
}

.c-hamburger-wrap.active span::before {
	top: 0;
	transform: rotate(45deg);
}

.c-hamburger-wrap.active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.c-hamburger-wrap.active span::before,
.c-hamburger-wrap.active span::after {
	transition-delay: 0s, 0.3s;
	background-color: #fff;
}

.c-hamburger:hover span,
.c-hamburger:hover span::before,
.c-hamburger:hover span::after{
	background-color: #fff;
}

.c-hamburger-wrap.active:hover span{
	background-color: transparent;
}