/*-------------- advant -----------------*/
.advant-wrap{
	background: url(#{$path-img}/bg-advant.png) no-repeat right center;
	min-height: 1000px;
	margin-top: -220px;
	padding-top: 305px;
	margin-bottom: -170px;
}

.advant{
	&__item{
		height: calc(100% - 76px);
		border: 1px solid #fff;
		border-top: 0;
		padding: 54px 30px 30px;
		position: relative;
		margin-top: 32px;
		margin-bottom: 44px;
	}

	&__item::before,
	&__item::after{
		content: '';
		display: inline-block;
		height: 1px;
		width: 35px;
		background: #fff;
		position: absolute;
		top: 0;
	}

	&__item::before{
		left: 0;
	}

	&__item::after{
		width: calc(100% - 140px);
		right: 0;
	}

	&__icon{
		width: 60px;
		position: absolute;
		left: 60px;
		top: -32px;
	}

	&__text{
		@include font(normal, normal, 18px, 1.5, $color-black);
	}
}

@media (max-width: 767px) {
	.advant-wrap{
		margin-top: 0;
		padding-top: 28px;
		margin-bottom: 25px;
		min-height: 0;
	}

	.advant{
		display: block;

		&__item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: auto;
			background: #fff;
			border-radius: 4px;
			margin-top: 0;
			margin-bottom: 1px;
			padding: 18px 15px 14px;
		}

		&__icon{
			position: static;
			width: 46px;
		}

		&__text{
			width: calc(100% - 63px);
			font-size: 16px;
		}
	}
}