/*-------------- fancybox -----------------*/
.fancybox-content{
	border-radius: 4px;
	padding: 26px 40px 30px;
}

.fancybox-slide--html .fancybox-close-small{
	padding: 5px;
	right: 10px;
	top: 10px;
}

@media (max-width: 767px) {
	.fancybox-content{
		padding: 15px 15px 20px;
	}
}