/*-------------- search-flat -----------------*/
.search-flat-wrap{
	margin-bottom: 124px;
}

.search-flat{
	&__fields{
		display: flex;
		justify-content: center;
		margin-bottom: 46px;
	}

	&__fields select{
		width: 100%;
		background: #fff;
		border-radius: 4px;
		outline: none;
		border: 0;
		height: 50px;
		margin-bottom: 1px;
	}

	.chosen-container:not(:last-child){
		margin-right: 1px;
	}

	&__btn{
		text-align: center;
	}

	&__btn .btn:not(:last-child){
		margin-right: 6px;
	}

	.btn,
	input[type="submit"].btn{
		min-width: 290px;
	}

	.btn--color,
	input[type="submit"].btn--color{
		min-width: 152px;
	}
}

@media (max-width: 991px) {
	.search-flat{
		&__fields{
			flex-wrap: wrap;
		}

		.chosen-container{
			margin-top: 1px;
		}
	}
}

@media (max-width: 767px) {
	.search-flat-wrap{
		margin: 0;
		padding: 0;
	}

	.search-flat{
		display: none;
		background: #ebebeb;
		padding: 15px;

		&__fields{
			display: block;
			margin-bottom: 15px;
		}

		.chosen-container,
		.select-price + .chosen-container,
		.select-city + .chosen-container{
			min-width: 100%;
		}

		.chosen-container:not(:last-child){
			margin-right: 0;
		}

		.btn,
		input[type="submit"].btn{
			width: 100%;
			min-width: 200px;
		}

		&__btn .btn:not(:last-child){
			margin-right: 0;
			margin-bottom: 15px;
		}

		.fancybox-close-small{
			display: none;
		}
	}
}