/*-------------- service-page -----------------*/
.service-desc{
	margin-bottom: 130px;
	
	.h1-big{
		margin: 50px 0 37px;
	}

	p{
		line-height: 1.45;
		text-align: center;
		max-width: 950px;
		margin: 0 auto;
	}
}