/*-------------- services -----------------*/
.services{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;

	&::before{
		content: '';
		display: inline-block;
		width: 191px;
		height: 244px;
		background: url(#{$path-img}/service-bg-pic1.png) no-repeat center;
		position: absolute;
		right: -112px;
		top: -172px;
		z-index: 2;
	}

	&::after{
		content: '';
		display: inline-block;
		width: 118px;
		height: 119px;
		background: url(#{$path-img}/service-bg-pic2.png) no-repeat center;
		position: absolute;
		left: -93px;
		top: 165px;
		z-index: 2;
	}

	&__group{
		width: calc(50% - 5px);
	}

	&__sect{
		min-width: 50%;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 4px;
		padding: 35px 40px 50px;
		margin-bottom: 10px;
		position: relative;
	}

	&__sect:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(56,56,56,0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__head,
	&__item{
		position: relative;
		z-index: 1;
	}

	&__head{
		margin-bottom: 20px;
	}

	&__head,
	&__head a{
		@include font(normal, normal, 30px, 1.2, #fff);
		text-decoration: none;
	}

	&__head a:hover{
		color: $color-black;
	}

	&__list{
		column-count: 2;
		column-gap: 22px;
	}

	&__item,
	&__item a{
		@include font(normal, normal, 18px, 1.5, #dbdbdb);
		text-decoration: none;
	}

	&__item a:hover{
		color: #fff;
	}

	&__item{
		padding: 5px 0;
	}

	&__group--vert{
		display: flex;
		justify-content: space-between;
	}

	&__group--vert &__sect{
		width: calc(50% - 5px);
	}

	&__group--vert &__list{
		column-count: 1;
	}
}

@media (max-width: 991px) {
	.services{
		&__sect{
			padding: 35px 20px 50px;
		}
	}
}

@media (max-width: 767px) {
	.services-wrap{
		margin-bottom: 20px;
	}

	.services{
		display: block;

		&__group--vert{
			display: block;
		}

		&__group,
		&__group--vert &__sect{
			width: 100%;
		}

		&::before,
		&::after{
			display: none;
		}

		&__head,
		&__head a{
			font-size: 26px;
		}

		&__item,
		&__item a{
			font-size: 16px;
		}

		&__item{
			padding: 7px 0;
		}

		&__sect{
			border-radius: 4px;
			padding: 26px 22px 16px;
			overflow: hidden;
		}

		&__sect::after{
			background: rgba(56,56,56,0.8);
			background: -moz-linear-gradient(top, rgba(56,56,56,0.8) 0%, rgba(56,56,56,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,56,56,0.8)), color-stop(100%, rgba(56,56,56,1)));
			background: -webkit-linear-gradient(top, rgba(56,56,56,0.8) 0%, rgba(56,56,56,1) 100%);
			background: -o-linear-gradient(top, rgba(56,56,56,0.8) 0%, rgba(56,56,56,1) 100%);
			background: -ms-linear-gradient(top, rgba(56,56,56,0.8) 0%, rgba(56,56,56,1) 100%);
			background: linear-gradient(to bottom, rgba(56,56,56,0.8) 0%, rgba(56,56,56,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#383838', GradientType=0 );
		}

		&__head{
			margin-bottom: 10px;
		}

	}
}