/*-------------- Header -----------------*/
.header{
	&__top{
		background: #383838;
		position: relative;
		z-index: 10;
	}

	&__bottom{
		background: #fff;
		padding: 35px 0;
	}

	&__bottom-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo{
		width: 216px;
		margin-right: 30px;
	}

	&__info{
		padding: 0 15px;
	}

	&__address,
	&__phone{
		@include font(normal, normal, 18px, 1.5, $color-black);
		position: relative;
	}

	&__address:before{
		content: '';
		display: inline-block;
		width: 12px;
		height: 16px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px -20px;
		margin-right: 10px;
	}

	&__phone:before{
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url(#{$path-img}/sprite.png) no-repeat -25px -20px;
		margin-right: 10px;
	}

	&__phone a{
		text-decoration: none;
	}

	&__mail,
	&__time{
		@include font(normal, normal, 16px, 1.5, #999);
	}
}

.top-menu{
	&__list,
	&__item,
	&__sub,
	&__sub-item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	&__item{
		position: relative;
	}

	&__item,
	&__link{
		@include font(normal, 700, 18px, 1.5, #fff);
		text-decoration: none;
	}

	&__link{
		display: inline-block;
		padding: 10px 45px 12px;
		position: relative;
	}

	&__arr{
		display: inline-block;
		vertical-align: middle;
		width: 11px;
		height: 7px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px -5px;
		margin-left: 10px;
	}

	

	&__sub{
		display: none;
		width: 660px;
		position: absolute;
		top: 100%;
		left: 0;
		background: #5c5c5c;
		padding: 30px;
		column-count: 2;
		column-gap: 55px;
	}

	&__sub-item,
	&__sub-link{
		@include font(normal, normal, 18px, 1.5, #dbdbdb);
		text-decoration: none;
	}

	&__sub-link{
		display: inline-block;
		padding: 7px 0 8px;
	}

	&__sub-link:hover{
		color: #fff;
	}

	&__sub.turn{
		left: auto;
		right: 0;
	}
}

@media (max-width: 1219px) {
	.top-menu{
		&__link{
			padding: 10px 25px 12px;
		}
	}
}

@media (max-width: 991px) {
	.top-menu{
		&__link{
			padding: 10px 15px 12px;
		}
	}

	.header{
		&__mail,
		&__time{
			font-size: 14px;
		}

		&__address,
		&__phone{
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	.top-menu{
		&__item:hover &__link,
		&__link.current{
			background: #5c5c5c;
		}

		&__item:hover &__sub{
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.mobile-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #383838;
		padding: 0 15px;
		min-height: 47px;

		&__info{
			display: flex;
			align-items: center;
		}

		&__logo{
			padding: 8px 14px 12px;
		}

		&__call{
			display: inline-block;
			width: 14px;
			height: 14px;
			background: url(#{$path-img}/sprite.png) no-repeat -60px -95px;
		}

		.c-hamburger-wrap{
			margin-left: -15px;
			border-right: 1px solid #4c4c4c;
		}
	}

	.header{
		&__top{
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			z-index: 100;
			transition: all 0.3s ease 0s;
			max-height: 100%;
			overflow-y: auto;
		}

		&__top.open{
			left: 0;
		}

		&__top .c-hamburger-wrap{
			margin-left: -15px;
		}

		&__bottom{
			position: absolute;
			top: 0;
			right: -100%;
			width: 100%;
			z-index: 100;
			transition: all 0.3s ease 0s;
			max-height: 100%;
			overflow-y: auto;
			padding: 0;
			background: #383838;
		}

		&__bottom.open{
			right: 0;
		}

		&__bottom .c-hamburger-wrap{
			position: absolute;
			top: 0;
			right: 0;
		}

		&__bottom-content{
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 70px 0 30px;
			color: #fff;
		}

		&__bottom &__logo{
			display: none;
		}

		&__info{
			padding: 0;
			margin-bottom: 27px;
		}

		&__info--phone{
			order: -1;
		}

		&__phone-item{
			display: block;
		}

		&__phone,
		&__phone a{
			color: #fff;
			font-size: 20px;
			line-height: 1.4;
		}

		&__phone{
			padding-left: 25px;
		}

		&__phone::before{
			position: absolute;
			top: 5px;
			left: 0;
		}

		&__time{
			font-size: 16px;
			color: #999;
			padding-left: 25px;
			margin-top: 8px;
		}

		&__address{
			font-size: 18px;
			color: #fff;
		}

		&__address::before{
			margin-right: 14px;
		}

		&__mail{
			font-size: 16px;
			padding-left: 27px;
			margin-top: 7px;
		}

		&__bottom .btn{
			margin-top: 12px;
			border-color: $color-yellow;
			color: $color-yellow;
		}

		&__bottom .btn:hover{
			color: #1f1f1f;
		}
	}

	.top-menu{
		margin-left: -15px;
		margin-right: -15px;
		position: relative;

		&__list{
			display: block;
		}

		&__link{
			width: 100%;
			position: relative;
			padding: 13px 15px;
			background: #424242;
		}

		&__arr{
			padding: 15px;
			height: 100%;
			width: 45px;
			position: absolute;
			top: 0;
			right: 0;
			background: none;
			margin: 0;
		}

		&__arr::after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 11px;
			height: 7px;
			background: url(#{$path-img}/sprite.png) no-repeat -5px -5px;
			margin-left: 10px;
			position: absolute;
			@include top-center;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&__item:not(:last-child){
			border-bottom: 1px solid #383838;
		}

		&__sub{
			width: 100%;
			position: relative;
			column-count: 1;
			padding: 15px 15px 15px 30px;
		}
	}
}