//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-futura: 'FuturaBookC', Arial, sans-serif;

// Site
$color-text: #424242;
$color-black: #000;
$color-grey: #858585;
$color-yellow: #fcb40a;
