<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Каталог детальная</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item">Главная</a>
								<a href="/" class="bredcrumb__item">Квартиры</a>
								<span class="bredcrumb__item">Уютная теплая квартира рядом с заливом</span>
							</div>

							<h1>Уютная теплая квартира рядом с заливом</h1>
						</div>
					</div>
				</div>

				<div class="catalog-detail">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<div class="product-slider">
									<ul class="product-slider-preview js-product-slider-preview">
										<li class="product-slider-preview__item">
											<a href="img/product-slider1.jpg" data-fancybox>
												<img src="img/product-slider1.jpg" alt="" />
											</a>
										</li>

										<li class="product-slider-preview__item">
											<a href="img/product-slider2.jpg" data-fancybox>
												<img src="img/product-slider2.jpg" alt="" />
											</a>
										</li>

										<li class="product-slider-preview__item">
											<a href="img/product-slider3.jpg" data-fancybox>
												<img src="img/product-slider3.jpg" alt=""/>
											</a>
										</li>

										<li class="product-slider-preview__item">
											<a href="img/product-slider1.jpg" data-fancybox>
												<img src="img/product-slider1.jpg" alt=""/>
											</a>
										</li>

										<li class="product-slider-preview__item">
											<a href="img/product-slider2.jpg" data-fancybox>
												<img src="img/product-slider2.jpg" alt=""/>
											</a>
										</li>

										<li class="product-slider-preview__item">
											<a href="img/product-slider3.jpg" data-fancybox>
												<img src="img/product-slider3.jpg" alt=""/>
											</a>
										</li>
									</ul>

									<ul class="product-slider-thumb js-product-slider-thumb">
										<li class="product-slider-thumb__item" style="background-image: url(img/product-slider1.jpg);"></li>
										<li class="product-slider-thumb__item" style="background-image: url(img/product-slider2.jpg);"></li>
										<li class="product-slider-thumb__item" style="background-image: url(img/product-slider3.jpg);"></li>
										<li class="product-slider-thumb__item" style="background-image: url(img/product-slider1.jpg);"></li>
										<li class="product-slider-thumb__item" style="background-image: url(img/product-slider2.jpg);"></li>
										<li class="product-slider-thumb__item" style="background-image: url(img/product-slider3.jpg);"></li>
									</ul>
								</div><!-- end product-slider -->

								<div class="catalog-detail__desc">
									<div class="h2">Описание</div>

									<p>Продаётся уютная квартира 18,5 м2, в кирпичном доме, на 4-м этаже. Квартира состоит из комнаты 12 м2, кухня 4,7 м2, санузел 1.4 м2. Есть душ, кухонная зона. В квартире установлены качественные стеклопакеты. Сделана косметика. В парадной также сделан ремонт и установлены стеклопакеты. Хорошее расположение дома, рядом продуктовые магазины Пятёрочка и Магнит, Торговый Центр, детские и взрослые поликлиники, школа, детский сад. В одной минуте от дома остановка общественного транспорта, можно доехать до набережной за 5 минут. Один собственник, более 3 лет. Звоните, пишите.</p>
								</div>

								<div class="catalog-detail__param-wrap">
									<div class="row">
										<div class="col-6">
											<div class="h2">Характеристики</div>

											<div class="cat-detail-param">
												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Общая площадь, м<sup>2</sup></div>
													<div class="cat-detail-param__val">18.5</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Жилая площадь, м<sup>2</sup></div>
													<div class="cat-detail-param__val">12.4</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Площадь кухни, м<sup>2</sup></div>
													<div class="cat-detail-param__val">4.7</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Количество комнат</div>
													<div class="cat-detail-param__val">1-комнатная</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Площадь по комнатам</div>
													<div class="cat-detail-param__val">12,4</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Сан.узел</div>
													<div class="cat-detail-param__val">Совмещённый</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Балкон/Лоджия</div>
													<div class="cat-detail-param__val">нет</div>
												</div>
											</div>
										</div>

										<div class="col-6">
											<div class="h2">Информация о доме</div>

											<div class="cat-detail-param">
												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Расположение</div>
													<div class="cat-detail-param__val">Регион</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Нас. пункт</div>
													<div class="cat-detail-param__val">Таганрог</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Улица</div>
													<div class="cat-detail-param__val">Свободы</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Этаж</div>
													<div class="cat-detail-param__val">4</div>
												</div>

												<div class="cat-detail-param__item">
													<div class="cat-detail-param__title">Этажность</div>
													<div class="cat-detail-param__val">5</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="catalog-detail__map-wrap">
									<div class="h2">Расположение на карте</div>

									<p>Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</p>

									<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7efa8492738793ad1896c6b955fa2cae95f534635a2c3c7a7027eee01958291c&amp;source=constructor" class="catalog-detail__map" frameborder="0"></iframe>
								</div>

								<div class="catalog-detail__calc-wrap">
									<div class="h2">Рассчитать ипотеку</div>

									<form method="get" class="calc-form">
										<div class="calc-form__head">Стоимость квартиры</div>

										<div class="row">
											<div class="col-6">
												<input type="text" placeholder="680000">
											</div>

											<div class="col-6">
												<div class="range-block js-range-block">
													<div class="range-block__head">
														<div class="range-block__title">Ставка, %</div>
														<div class="range-block__cur"><span class="js-range-cur">0</span></div>
													</div>

													<div class="js-range" data-min="6" data-max="13" data-cur="9.2" data-step="0.1"></div>

													<div class="range-block__val">
														<div class="range-block__val-min"><span class="js-range-min">0</span></div>

														<div class="range-block__val-max"><span class="js-range-max">0</span></div>
													</div>
												</div>
											</div>

											<div class="col-6">
												<div class="range-block js-range-block">
													<div class="range-block__head">
														<div class="range-block__title">Первый взнос, руб.</div>
														<div class="range-block__cur"><span class="js-range-cur">0</span> руб.</div>
													</div>

													<div class="js-range" data-min="68000" data-max="612000" data-cur="268000" data-step="1000"></div>

													<div class="range-block__val">
														<div class="range-block__val-min"><span class="js-range-min">0</span> руб.</div>

														<div class="range-block__val-max"><span class="js-range-max">0</span> руб.</div>
													</div>
												</div>
											</div>

											<div class="col-6">
												<div class="range-block js-range-block">
													<div class="range-block__head">
														<div class="range-block__title">Срок кредита, лет</div>
														<div class="range-block__cur"><span class="js-range-cur">0</span> лет</div>
													</div>

													<div class="js-range" data-min="5" data-max="30" data-cur="20" data-step="1"></div>

													<div class="range-block__val">
														<div class="range-block__val-min"><span class="js-range-min">0</span> лет</div>

														<div class="range-block__val-max"><span class="js-range-max">0</span> лет</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="col-4">
								<aside>
									<div class="card-info">
										<div class="card-info__sect">
											<div class="card-info__head">Расположение</div>

											<div class="card-info__content">
												<div class="card-info__address">Санкт-Петербург, Василеостровский р-н, Морская наб., 15</div>

												<div class="card-info__subway">Проспект Просвещения</div>
											</div>
										</div>

										<div class="card-info__sect">
											<div class="card-info__head">Параметры</div>

											<div class="card-info__content">
												<div class="card-info-param">
													<div class="card-info-param__item">
														<div class="card-info-param__title">Комнат:</div>
														<div class="card-info-param__val">2</div>
													</div>

													<div class="card-info-param__item">
														<div class="card-info-param__title">Этаж:</div>
														<div class="card-info-param__val">10</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card-info__sect">
											<div class="card-info__head">Площади</div>

											<div class="card-info__content">
												<div class="card-info-param">
													<div class="card-info-param__item">
														<div class="card-info-param__title">Общая площадь:</div>
														<div class="card-info-param__val">53.50</div>
													</div>

													<div class="card-info-param__item">
														<div class="card-info-param__title">Жилая площадь:</div>
														<div class="card-info-param__val">32.2</div>
													</div>

													<div class="card-info-param__item">
														<div class="card-info-param__title">Площадь кухни:</div>
														<div class="card-info-param__val">8.60</div>
													</div>

													<div class="card-info-param__item">
														<div class="card-info-param__title">Площади комнат</div>
														<div class="card-info-param__val">17.2+15</div>
													</div>

													<div class="card-info-param__item">
														<div class="card-info-param__title">Цена за м<sup>2</sup>:</div>
														<div class="card-info-param__val">140 187 руб.</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card-info__sect">
											<div class="card-info__price"><span class="card-info__price-val">7 500 000</span> руб.</div>
											<div class="card-info__part-price">36 756 руб. за м<sup>2</sup></div>

											<a href="#" class="btn btn--border">Рассчитать ипотеку</a>
										</div>
									</div><!-- end card-info -->

									<form method="get" class="form-manager js-valid-form">
										<div class="form-manager__info">
											<div class="form-manager__img" style="background-image: url(img/manager.jpg);"></div>

											<div class="form-manager__name">Станислав Владимирович</div>

											<div class="form-manager__label">знает всё об этом объекте</div>
										</div>

										<div class="form-manager__phone">+7 (812) 642 25 70</div>

										<div class="form-manager__text">Звоните или оставьте номер, я перезвоню</div>

										<input type="text" placeholder="+7 (___) ___ __ __" class="js-phone" required="required">

										<input type="submit" value="Отправить" class="btn btn--color">

										<div class="form-manager__polit">Отправив заявку, вы соглашаетесь на обработку персональных данных</div>
									</form><!-- end form-manager -->
								</aside>
							</div>
						</div>
					</div>
				</div><!-- end catalog -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
