<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Каталог</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item">Главная</a>
								<a href="/" class="bredcrumb__item">Каталог</a>
								<span class="bredcrumb__item">Квартира</span>
							</div>

							<h1>Купить 1 комнатную квартиру в СПб</h1>
						</div>
					</div>
				</div>

				<div class="catalog">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<div class="catalog-filter js-catalog-filter">
									<form method="get" class="catalog-filter__form">
										<div class="catalog-filter__param-wrap">
											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Тип недвижимости</div>

												<div class="catalog-filter__list js-filter-list">
													<select data-placeholder="Квартира" class="js-select">
														<option value=""></option>
														<option value="Покупка">Комната</option>
														<option value="Аренда">Дом</option>
													</select>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Общая стоимость, руб.</div>

												<div class="catalog-filter__list js-filter-list">
													<select data-placeholder="Квартира" class="js-select">
														<option value=""></option>
														<option value="Покупка">Комната</option>
														<option value="Аренда">Дом</option>
													</select>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Цена за м<sup>2</sup>, руб.</div>

												<div class="catalog-filter__list js-filter-list">
													<select data-placeholder="Квартира" class="js-select">
														<option value=""></option>
														<option value="Покупка">Комната</option>
														<option value="Аренда">Дом</option>
													</select>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Расположение</div>

												<div class="catalog-filter__list js-filter-list">
													<textarea placeholder="Введите название"></textarea>

													<div class="input-check">
														<input type="checkbox" id="checkbox1" >
														<label for="checkbox1" class="input-check__label"><span class="input-check__mark"></span>Ленинградская область</label>
													</div>

													<div class="input-check">
														<input type="checkbox" id="checkbox2" >
														<label for="checkbox2" class="input-check__label"><span class="input-check__mark"></span>Регион</label>
													</div>

													<div class="input-check">
														<input type="checkbox" id="checkbox3" >
														<label for="checkbox3" class="input-check__label"><span class="input-check__mark"></span>Санкт-Петербург</label>
													</div>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Район</div>

												<div class="catalog-filter__list js-filter-list">
													<div class="input-check">
														<input type="checkbox" id="checkbox4" >
														<label for="checkbox4" class="input-check__label"><span class="input-check__mark"></span>Ленинградский</label>
													</div>

													<div class="input-check">
														<input type="checkbox" id="checkbox5" >
														<label for="checkbox5" class="input-check__label"><span class="input-check__mark"></span>Московский</label>
													</div>

													<div class="input-check">
														<input type="checkbox" id="checkbox6" >
														<label for="checkbox6" class="input-check__label"><span class="input-check__mark"></span>Санкт-Петербург</label>
													</div>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Метро</div>

												<div class="catalog-filter__list js-filter-list">
													<div class="input-check">
														<input type="checkbox" id="checkbox7" >
														<label for="checkbox7" class="input-check__label"><span class="input-check__mark"></span>Киевская</label>
													</div>

													<div class="input-check">
														<input type="checkbox" id="checkbox8" >
														<label for="checkbox8" class="input-check__label"><span class="input-check__mark"></span>Проспект Просвещения</label>
													</div>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Улица</div>

												<div class="catalog-filter__list js-filter-list">
													<div class="input-check">
														<input type="checkbox" id="checkbox9" >
														<label for="checkbox9" class="input-check__label"><span class="input-check__mark"></span>ул. Свободы</label>
													</div>

													<div class="input-check">
														<input type="checkbox" id="checkbox10" >
														<label for="checkbox10" class="input-check__label"><span class="input-check__mark"></span>Суздальское шос</label>
													</div>
												</div>
											</div>

											<div class="catalog-filter__param js-filter-param">
												<div class="catalog-filter__head js-filter-head">Общая площадь, м<sup>2</sup></div>

												<div class="catalog-filter__list js-filter-list">
													<select data-placeholder="Квартира" class="js-select">
														<option value=""></option>
														<option value="Покупка">Комната</option>
														<option value="Аренда">Дом</option>
													</select>
												</div>
											</div>
										</div><!-- end catalog-filter__param js-filter-param-wrap -->

										<div class="catalog-filter__btn">
											<input type="submit" value="Сбросить фильтр" class="btn btn--border">
										</div>
									</form>
								</div><!-- end catalog-filter -->
							</div>

							<div class="col-9">
								<div class="catalog__top">
									<div class="sort">
										<span class="sort__title">Сортировать</span>
										<a class="sort__item"><span>по возрастанию цены</span></a>
									</div>

									<div class="catalog__offer"><span class="catalog__offer-val">46</span> предложений</div>
								</div>

								<div class="catalog-list">
									<div class="catalog-list__item">
										<a href="#" class="catalog-list__img" style="background-image: url(img/catalog-list1.jpg);"></a>

										<div class="catalog-list__content">
											<div class="catalog-list__top">
												<div class="catalog-list__info">
													<a href="#" class="catalog-list__name">1-к квартира, 18.5 м<sup>2</sup>, 4/5 эт.</a>

													<div class="catalog-list__address">Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</div>
												</div>

												<div class="catalog-list__price-wrap">
													<div class="catalog-list__price"><span class="catalog-list__price-val">680 000</span> руб.</div>

													<div class="catalog-list__part-price">36 756 руб. за м<sup>2</sup></div>
												</div>
											</div>

											<div class="catalog-list__bottom">
												<div class="catalog-list__param">
													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Площадь:</div>
														<div class="catalog-list-param__val">12,4</div>
													</div>

													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Этаж:</div>
														<div class="catalog-list-param__val">4/5</div>
													</div>
												</div>

												<a href="#" class="catalog-list__wish">Добавить в избранное</a>
											</div>
										</div>
									</div>

									<div class="catalog-list__item">
										<a href="#" class="catalog-list__img" style="background-image: url(img/catalog-list1.jpg);"></a>

										<div class="catalog-list__content">
											<div class="catalog-list__top">
												<div class="catalog-list__info">
													<a href="#" class="catalog-list__name">1-к квартира, 18.5 м<sup>2</sup>, 4/5 эт.</a>

													<div class="catalog-list__address">Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</div>
												</div>

												<div class="catalog-list__price-wrap">
													<div class="catalog-list__price"><span class="catalog-list__price-val">680 000</span> руб.</div>

													<div class="catalog-list__part-price">36 756 руб. за м<sup>2</sup></div>
												</div>
											</div>

											<div class="catalog-list__bottom">
												<div class="catalog-list__param">
													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Площадь:</div>
														<div class="catalog-list-param__val">12,4</div>
													</div>

													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Этаж:</div>
														<div class="catalog-list-param__val">4/5</div>
													</div>
												</div>

												<a href="#" class="catalog-list__wish active">Добавить в избранное</a>
											</div>
										</div>
									</div>

									<div class="catalog-list__item">
										<a href="#" class="catalog-list__img" style="background-image: url(img/catalog-list1.jpg);"></a>

										<div class="catalog-list__content">
											<div class="catalog-list__top">
												<div class="catalog-list__info">
													<a href="#" class="catalog-list__name">1-к квартира, 18.5 м<sup>2</sup>, 4/5 эт.</a>

													<div class="catalog-list__address">Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</div>
												</div>

												<div class="catalog-list__price-wrap">
													<div class="catalog-list__price"><span class="catalog-list__price-val">680 000</span> руб.</div>

													<div class="catalog-list__part-price">36 756 руб. за м<sup>2</sup></div>
												</div>
											</div>

											<div class="catalog-list__bottom">
												<div class="catalog-list__param">
													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Площадь:</div>
														<div class="catalog-list-param__val">12,4</div>
													</div>

													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Этаж:</div>
														<div class="catalog-list-param__val">4/5</div>
													</div>
												</div>

												<a href="#" class="catalog-list__wish">Добавить в избранное</a>
											</div>
										</div>
									</div>

									<div class="catalog-list__item">
										<a href="#" class="catalog-list__img" style="background-image: url(img/catalog-list1.jpg);"></a>

										<div class="catalog-list__content">
											<div class="catalog-list__top">
												<div class="catalog-list__info">
													<a href="#" class="catalog-list__name">1-к квартира, 18.5 м<sup>2</sup>, 4/5 эт.</a>

													<div class="catalog-list__address">Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</div>
												</div>

												<div class="catalog-list__price-wrap">
													<div class="catalog-list__price"><span class="catalog-list__price-val">680 000</span> руб.</div>

													<div class="catalog-list__part-price">36 756 руб. за м<sup>2</sup></div>
												</div>
											</div>

											<div class="catalog-list__bottom">
												<div class="catalog-list__param">
													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Площадь:</div>
														<div class="catalog-list-param__val">12,4</div>
													</div>

													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Этаж:</div>
														<div class="catalog-list-param__val">4/5</div>
													</div>
												</div>

												<a href="#" class="catalog-list__wish">Добавить в избранное</a>
											</div>
										</div>
									</div>

									<div class="catalog-list__item">
										<a href="#" class="catalog-list__img" style="background-image: url(img/catalog-list1.jpg);"></a>

										<div class="catalog-list__content">
											<div class="catalog-list__top">
												<div class="catalog-list__info">
													<a href="#" class="catalog-list__name">1-к квартира, 18.5 м<sup>2</sup>, 4/5 эт.</a>

													<div class="catalog-list__address">Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</div>
												</div>

												<div class="catalog-list__price-wrap">
													<div class="catalog-list__price"><span class="catalog-list__price-val">680 000</span> руб.</div>

													<div class="catalog-list__part-price">36 756 руб. за м<sup>2</sup></div>
												</div>
											</div>

											<div class="catalog-list__bottom">
												<div class="catalog-list__param">
													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Площадь:</div>
														<div class="catalog-list-param__val">12,4</div>
													</div>

													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Этаж:</div>
														<div class="catalog-list-param__val">4/5</div>
													</div>
												</div>

												<a href="#" class="catalog-list__wish">Добавить в избранное</a>
											</div>
										</div>
									</div>

									<div class="catalog-list__item">
										<a href="#" class="catalog-list__img" style="background-image: url(img/catalog-list1.jpg);"></a>

										<div class="catalog-list__content">
											<div class="catalog-list__top">
												<div class="catalog-list__info">
													<a href="#" class="catalog-list__name">1-к квартира, 18.5 м<sup>2</sup>, 4/5 эт.</a>

													<div class="catalog-list__address">Регион, Ростовская область обл., Таганрог, ул. Свободы, д. 100А</div>
												</div>

												<div class="catalog-list__price-wrap">
													<div class="catalog-list__price"><span class="catalog-list__price-val">680 000</span> руб.</div>

													<div class="catalog-list__part-price">36 756 руб. за м<sup>2</sup></div>
												</div>
											</div>

											<div class="catalog-list__bottom">
												<div class="catalog-list__param">
													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Площадь:</div>
														<div class="catalog-list-param__val">12,4</div>
													</div>

													<div class="catalog-list-param">
														<div class="catalog-list-param__title">Этаж:</div>
														<div class="catalog-list-param__val">4/5</div>
													</div>
												</div>

												<a href="#" class="catalog-list__wish">Добавить в избранное</a>
											</div>
										</div>
									</div>
								</div><!-- end catalog-list -->

								<div class="catalog__bottom">
									<div class="pagination">
										<a href="#" class="pagination__item">1</a>
										<a href="#" class="pagination__item current">2</a>
										<a href="#" class="pagination__item">3</a>
										<a href="#" class="pagination__item">4</a>
										<a href="#" class="pagination__item pagination__item--more">...</a>
										<a href="#" class="pagination__item">11</a>
										<a href="#" class="pagination__item">12</a>
										<a href="#" class="pagination__item">13</a>
									</div>

									<a href="#" class="btn btn--border">Показать еще</a>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end catalog -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
