<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="page-main">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="search-flat-wrap">
									<div class="h1-big">Поиск квартир в Санкт Петербурге и области</div>

									<form method="get" class="search-flat">
										<div class="search-flat__fields">
											<select data-placeholder="Продажа" class="js-select">
												<option value=""></option>
												<option value="Покупка">Покупка</option>
												<option value="Аренда">Аренда</option>
												<option value="Сдать в аренду">Сдать в аренду</option>
											</select>

											<select data-placeholder="Квартиры" class="js-select">
												<option value=""></option>
												<option value="Тип1">Тип1</option>
												<option value="Тип2">Тип2</option>
												<option value="Тип3">Тип3</option>
											</select>

											<select data-placeholder="Комнат" class="js-select">
												<option value=""></option>
												<option value="Тип1">Тип1</option>
												<option value="Тип2">Тип2</option>
											</select>

											<select data-placeholder="Цена" class="js-select">
												<option value=""></option>
												<option value="Тип1">Тип1</option>
												<option value="Тип2">Тип2</option>
											</select>

											<select data-placeholder="Санкт-Петербург и ЛО" class="js-select">
												<option value=""></option>
												<option value="Москва">Москва</option>
											</select>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end page-main -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
