<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="top-menu js-top-menu">
						<ul class="top-menu__list">
							<li class="top-menu__item js-top-menu-item">
								<a href="#" class="top-menu__link">Услуги<span class="top-menu__arr"></span></a>

								<ul class="top-menu__sub js-top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Покупателям</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Продавцам</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Оценка стоимости квартир</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Зачет недвижимости</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Помощь в получении ипотеки</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Регистрация документов в УФРС</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Сопровождение сделок</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Юридические услуги</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Обмен Санкт-Петербург-Москва</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Недвижимость в Эстонии</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Недвижимость в Финляндии</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Прейскурант услуг</a></li>
								</ul>
							</li>

							<li class="top-menu__item js-top-menu-item">
								<a href="#" class="top-menu__link">Каталог недвижимости<span class="top-menu__arr"></span></a>

								<ul class="top-menu__sub js-top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Загородная недвижимость</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Аренда квартир</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Вторичная недвижимость</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Коммерческая недвижимость</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Элитная недвижимость</a></li>
								</ul>
							</li>

							<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link">Новостройки</a></li>

							<li class="top-menu__item js-top-menu-item">
								<a href="#" class="top-menu__link">О компании<span class="top-menu__arr"></span></a>

								<ul class="top-menu__sub js-top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Агенты</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Отзывы</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Информация</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Наши партнеры</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Клиенты</a></li>
								</ul>
							</li>

							<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="header__bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__bottom-content">
						<div class="header__logo"><a href="#"><img src="img/logo.png" alt=""></a></div>

						<div class="header__info">
							<div class="header__address">СПб, пр. Непокоренных 49</div>
							<div class="header__mail"><a href="mailto:info@nsr.spb.ru">info@nsr.spb.ru</a></div>
						</div>

						<div class="header__info">
							<div class="header__phone"><a href="tel:+78005505197">8 800 550 51 97</a>, <a href="tel:+78005505197">8 800 550 51 97</a></div>

							<div class="header__time">Пн. — Сб.: с 9:00 до 20:00</div>
						</div>

						<a  data-fancybox data-src="#feedback-form" href="javascript:;" class="btn btn--border btn--small">Обратный звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>