<div class="shadow-site d-md-none js-shadow"></div>

<header class="header">
	<div class="mobile-header d-flex d-md-none">
		<div class="mobile-header__info">
			<div class="c-hamburger-wrap js-btn-mobile-menu"><div class="c-hamburger"><span></span></div></div>

			<div class="mobile-header__logo"><a href="#"><img src="img/logo-mobile.png" alt=""></a></div>
		</div>

		<div class="mobile-header__call js-btn-mobile-contacts"></div>
	</div>

	<div class="header__top js-header-top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="c-hamburger-wrap active js-close-mobile-menu"><div class="c-hamburger"><span></span></div></div>

					<nav class="top-menu js-top-menu">
						<ul class="top-menu__list">
							<li class="top-menu__item js-top-menu-item">
								<a href="#" class="top-menu__link js-top-menu-link">Услуги<span class="top-menu__arr js-top-menu-arr"></span></a>

								<ul class="top-menu__sub js-top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Покупателям</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Продавцам</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Оценка стоимости квартир</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Зачет недвижимости</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Помощь в получении ипотеки</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Регистрация документов в УФРС</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Сопровождение сделок</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Юридические услуги</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Обмен Санкт-Петербург-Москва</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Недвижимость в Эстонии</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Недвижимость в Финляндии</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Прейскурант услуг</a></li>
								</ul>
							</li>

							<li class="top-menu__item js-top-menu-item">
								<a href="#" class="top-menu__link js-top-menu-link">Каталог недвижимости<span class="top-menu__arr js-top-menu-arr"></span></a>

								<ul class="top-menu__sub js-top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Загородная недвижимость</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Аренда квартир</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Вторичная недвижимость</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Коммерческая недвижимость</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Элитная недвижимость</a></li>
								</ul>
							</li>

							<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link">Новостройки</a></li>

							<li class="top-menu__item js-top-menu-item">
								<a href="#" class="top-menu__link js-top-menu-link">О компании<span class="top-menu__arr js-top-menu-arr"></span></a>

								<ul class="top-menu__sub js-top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Агенты</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Отзывы</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Информация</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Наши партнеры</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Клиенты</a></li>
								</ul>
							</li>

							<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="header__bottom js-header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="c-hamburger-wrap active js-close-mobile-contacts"><div class="c-hamburger"><span></span></div></div>

					<div class="header__bottom-content">
						<div class="header__logo"><a href="#"><img src="img/logo.png" alt=""></a></div>

						<div class="header__info">
							<div class="header__address">СПб, пр. Непокоренных 49</div>
							<div class="header__mail"><a href="mailto:info@nsr.spb.ru">info@nsr.spb.ru</a></div>
						</div>

						<div class="header__info header__info--phone">
							<div class="header__phone">
								<span class="header__phone-item"><a href="tel:+78005505197">8&nbsp;800&nbsp;550&nbsp;51&nbsp;97</a>,</span>
								<span class="header__phone-item"><a href="tel:+78005505197">8&nbsp;800&nbsp;550&nbsp;51&nbsp;97</a></span>
							</div>

							<div class="header__time">Пн. — Сб.: с 9:00 до 20:00</div>
						</div>

						<a  data-fancybox data-src="#feedback-form" href="javascript:;" class="btn btn--border btn--small">Обратный звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>