html,
body{
	background: #ebebeb;
	font-family: $font-futura;
	@include font(normal, normal, 18px, 1.5, $color-text);
	box-sizing:border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

a{
	color: inherit;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

p{
	@include font(normal, normal, 18px, 1.6, $color-text);
	padding: 5px 0;
}

h1,
.h1{
	@include font(normal, 700, 40px, 1.13, $color-black);
	margin-bottom: 20px;
}

.h1-big{
	@include font(normal, 700, 46px, 1.13, $color-black);
	text-align: center;
	margin-bottom: 48px;
}

h2,
.h2{
	@include font(normal, 700, 26px, 1.4, $color-black);
	margin-bottom: 20px;
}

h3,
.h3{
	@include font(normal, 700, 20px, 1.2, $color-black);
	margin-bottom: 10px;
}

h4,
.h4{
	@include font(normal, 700, 18px, 1.2, $color-black);
	margin-bottom: 10px;
}

h5,
.h5{
	@include font(normal, normal, 18px, 1.2, $color-black);
	margin-bottom: 0;
}

h6,
.h6{
	@include font(normal, normal, 16px, 1.2, $color-black);
	margin-bottom: 0;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: 100%;
}

main{
	flex: 1 0 auto;
	padding-bottom: 118px;
	// height: 100%;
}

.btn,
input[type="submit"].btn{
	display: inline-block;
	height: 68px;
	background: #383838;
	border: 0;
	outline: 0;
	border-radius: 4px;
	@include font(normal, 700, 18px, 66px, #fff);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 0 20px;
	cursor: pointer;
	min-width: 204px;
}

.btn:hover,
input[type="submit"].btn:hover{
	background: $color-yellow;
	color: #1f1f1f;
}

.btn--small,
input[type="submit"].btn--small{
	height: 52px;
	font-size: 14px;
	line-height: 50px;
}

.btn--border,
input[type="submit"].btn--border{
	background: transparent;
	border: 1px solid #dbdbdb;
	color: #1f1f1f;
}

.btn--border:hover,
input[type="submit"].btn--border:hover{
	background: $color-yellow;
	border-color: $color-yellow;
	color: #1f1f1f;
}

.btn--icon{
	background: transparent;
	border: 1px solid rgba(0,0,0,0.25);
	font-size: 20px;
	color: #1f1f1f;
	text-transform: none;
}

.btn--icon:hover{
	background: #fff;
	border-color: #fff;
}

.btn__icon{
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-bottom: 5px;

	&--map{
		background: url(#{$path-img}/sprite.png) no-repeat -5px -65px;
	}
}

.btn:hover .btn__icon--map{
	background-position: -35px -65px;
}

.btn--color,
input[type="submit"].btn--color{
	background: rgba(252,207,101,1);
	background: -moz-linear-gradient(top, rgba(252,207,101,1) 0%, rgba(252,179,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,207,101,1)), color-stop(100%, rgba(252,179,10,1)));
	background: -webkit-linear-gradient(top, rgba(252,207,101,1) 0%, rgba(252,179,10,1) 100%);
	background: -o-linear-gradient(top, rgba(252,207,101,1) 0%, rgba(252,179,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,207,101,1) 0%, rgba(252,179,10,1) 100%);
	background: linear-gradient(to bottom, rgba(252,207,101,1) 0%, rgba(252,179,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccf65', endColorstr='#fcb30a', GradientType=0 );
	border: 0;
	font-size: 20px;
	color: #1f1f1f;
	text-transform: none;
	box-shadow: 0px 4px 0px 0px rgba(219,156,9,1);
}

.btn--color:hover,
input[type="submit"].btn--color:hover{
	background: rgba(252,201,81,1);
	background: -moz-linear-gradient(top, rgba(252,201,81,1) 0%, rgba(252,139,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,201,81,1)), color-stop(100%, rgba(252,139,10,1)));
	background: -webkit-linear-gradient(top, rgba(252,201,81,1) 0%, rgba(252,139,10,1) 100%);
	background: -o-linear-gradient(top, rgba(252,201,81,1) 0%, rgba(252,139,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,201,81,1) 0%, rgba(252,139,10,1) 100%);
	background: linear-gradient(to bottom, rgba(252,201,81,1) 0%, rgba(252,139,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc951', endColorstr='#fc8b0a', GradientType=0 );
	box-shadow: 0px 4px 0px 0px rgba(219,121,9,1);
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	border-radius: 3px;
}

.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: 700 !important;}

/* checkbox */
.input-check{
	&__label{
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		@include font(normal, normal, 16px, 1.5, #424242);
	}

	input[type=checkbox] {
		display: none;
	}

	&__mark{
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 1px solid #dbdbdb;
		border-radius: 4px;
		background: #fff;
		position: absolute;
		left: 0;
		top: 3px;
	}

	input[type=checkbox]:checked + &__label &__mark{
		background: $color-yellow;
		border-color: $color-yellow;
	}

	input[type=checkbox]:checked + &__label &__mark:after{
		content: "";
		display: inline-block;
		width: 12px;
		height: 10px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px  -45px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include top-center;
	}
}